body{
  margin: 0;
}

.land-page{
  display: grid;
  grid-template-rows: 32.5% 65% 2.5%;
  height: 100vh;
}

.land-container{
  padding-left: 20%;
  padding-right: 20%;
  font-family: 'Playfair Display', serif;
  color: black;
}

.header{
  font-size: 6vw;
  font-size: 11vmin;
  text-align: left;
}

.sub-header{
  font-size: 2vw;
  font-size: 4vmin;
  text-align: left;
}

.icons-flex{
  display: flex;
  justify-content: flex-start;
}

#first-icon {
  margin-left: .4%;
}

.icon {
  height: 3vh;
  width: 3vh;
  margin-left: 4vh;
  margin-top: 4vh;
}

.color-bar {
  display: flex;
  justify-content: space-between;
}

.magenta-bar{
  flex-grow: 1;
  background-color: #b22758;
}

.red-bar {
  flex-grow: 1;
  background-color: #EB1820;
}

.yellow-bar {
  flex-grow: 1;
  background-color: #FFBD22
}

.blue-bar {
  flex-grow: 1;
  background-color: #24308B
}

.pages {
  margin-top: 10%;
}

.container {
  font-family: 'Muli', sans-serif;
  font-size: 1.8vh;
}

.left {
  margin-top: 2vh;
}

.right{
  margin-top: 2vh;
  margin-bottom: 2vh; 
}

.right a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted gray;
}

.right a:hover {
  text-decoration: none;
  color: #646464;
  border-bottom: 1px dotted #919191;
}

hr {
  border: 0;
  height: 1px;
  background: black;
}

.footer{
  margin-bottom: 5vh;
}





  

